.fogot_content {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 180px;
    width: 480px;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #4C4CFF;
    display: flex;
    align-items: center;
    transition: opacity .2s linear;
}

.link:hover {
    opacity: 0.5;
}

.navigation {
    display: flex;
    justify-content: center;
    margin: 0;
}