.constructor {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.filling {
    display: grid;
    grid-template-columns: 32px 1fr;
    
    align-items: center;
}

.scroller {
    display: grid;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 464px;
    overflow-y: auto;
  }
  
  .scroller::-webkit-scrollbar-track {
    background: #2f2f37;
  }
  
  .scroller::-webkit-scrollbar {
    width: 8px;
  }
  
  .scroller::-webkit-scrollbar-thumb {
    background: #8585AD;
  }