.form {
    width: 480px;
    display: grid;
    gap: 24px;
}

.form button {
    width: fit-content;
    justify-self: center;
}

.text {
    justify-self: center
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    flex-wrap: wrap;
}

.input div {
    width: 100%;
    display: flex;
}

.input > div > div > input + div {
    width: fit-content;
}

.link {
    text-decoration: none;
    color: #4C4CFF;
    cursor: pointer;
    transition: opacity .2s linear;
}

.link:hover {
    opacity: 0.5;
}

