.tab {
  display: flex;
}

.scroller {
  display: grid;
  gap: 40px;
  max-height: 716px;
  overflow-y: auto;
}

.scroller::-webkit-scrollbar-track {
  background: #2f2f37;
}

.scroller::-webkit-scrollbar {
  width: 8px;
}

.scroller::-webkit-scrollbar-thumb {
  background: #8585AD;
}