.card {
    position: relative;
    min-height: 208px;
    cursor: grab;
}

.prise_info {
    display: flex;
    justify-content: center;
}

.name {
    display: block;
    text-align: center;
}

.link {
	text-decoration: none;
	color: inherit
}
